<h1>Create New</h1>
  <%= form_for @dog do |d| %> <!-- Create form for dog object -->
    Name: <%= d.text_field :name %>
    Age: <%= d.text_field :age %>
    <%= d.submit %>
  <% end %>


<p>Find me in app/views/dogs/new.html.erb</p>
